/* add home page styles here */

.picker {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    line-height: 30px;
}

.left, .right {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#exterior {
    background-image: url(../assets/brownstone.png);
}

#interior {
    background-image: url(../assets/boho.png);
}

#neighborhood {
    background-image: url(../assets/city.png);
}

#cat {

}

.home {
    display: grid;
    grid-template-rows: auto;
    height: 700px;
    width: 400px;
}

.img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.slogans {
    display: flex;
    flex
}